
@tailwind base;
@tailwind components;
@tailwind utilities;

html,

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animatedText {
  width: 134px;
  height: 45px;
  left: 33px;
  position: relative;
  top: 18%;
  font-weight: 500;
  font-size: 12.31px;
  line-height: 14.76px;
  letter-spacing: 3%;
  font-style: normal;
  color: #1A4680;
}

.animatedText p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards;
}

.animatedText .p1 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards;
}


@keyframes typing {
  0% {width: 0%}
  100% {width: 100%}
}

@layer base {
  @font-face {
    font-family: 'Futura';
    src: url(/fonts/futur.ttf) format(ttf);
  }
}